extends ./layout.pug
block vars 
  - var presentPage = "payment"
block title
  title 出金一覧 | cost-checker

block content
  .container-fluid
    .h2 出金一覧
    if paymentList.length==0
      .alert.alert-warning データなし
    else 
      table.table.table-sm
        thead
          tr
            th 日付
            th 金額
            th 名目
        tbody
          each paymentRow in paymentList
            tr
              td #{paymentRow.date}
              td ¥#{paymentRow.price.toLocaleString()}
              td #{paymentRow.title}